.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cardProses,
.cardKategori {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tugasKanan {
  width: fit-content;
}

.tabelKanan td:first-child {
  font-weight: bold;
}

td {
  padding: 0.5em 0.6em 0.5em 0;
  line-height: 1.7em;
}

.tugasKiri {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.due table {
  text-align: left;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
